.root{
-fx-background: rgb(105, 105, 105);
}

.button{
	-fx-font: bold italic 10pt "Arial";
-fx-text-fill: white;
-fx-border-color: white;
-fx-background-color: rgb(128,0,0);
}

.label{
-fx-font: bold italic 12pt "Arial";
-fx-text-fill: white;
}
